<mat-card>
        <mat-card-title>Login</mat-card-title>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
        <mat-form-field>
        <input name="Username" placeholder="Username" matInput type="text" formControlName="username"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <mat-error *ngIf="submitted && f.username.errors">Username is required</mat-error>
</mat-form-field>
</div>
<div class="form-group">
<mat-form-field>
        <input name="password" matInput placeholder="Password" type="password" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <mat-error *ngIf="submitted && f.password.errors">Password is required</mat-error>
</mat-form-field>
</div>
<div class="form-group">
    <div id="container">
            <button color="accent" mat-raised-button [disabled]="loading" >
                <mat-spinner  [diameter]="25" *ngIf="loading"></mat-spinner>
                Login
            </button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <a mat-raised-button color="accent" routerLink="/register" >Register</a>
    </div>
</div>
</form>
</mat-card>