<div class= "container">
<a routerLink="/notes-create">
<mat-card>
    <mat-card-title>Load to Brain's Cache</mat-card-title>
    <mat-card-content>
<i class="material-icons" style="font-size: 78px;">note_add</i>
</mat-card-content>
</mat-card>
</a>
<a routerLink="/notes-view">
<mat-card>
    <mat-card-title>View Brain's Cache</mat-card-title>
    <mat-card-content>
<i class="material-icons" style="font-size: 78px;">notes</i>
</mat-card-content>
</mat-card>
</a>
<a routerLink="/todo">
<mat-card>
    <mat-card-title>Plan with bits!</mat-card-title>
    <mat-card-content>
<i class="material-icons" style="font-size: 78px;">list_alt</i>
</mat-card-content>
</mat-card>
</a>
</div>